
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // A user can read/write their own profile.
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
      // Allow admins to list all users.
      allow list: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }
    
    // A user can only interact with locations they own.
    match /storageLocations/{locationId} {
        allow read, write: if request.auth.uid != null && resource.data.ownerId == request.auth.uid;
        allow create: if request.auth.uid != null && request.resource.data.ownerId == request.auth.uid;
        allow list: if request.auth.uid != null;

        // A user can interact with areas if they own the parent location.
        match /areas/{areaId} {
           allow read, write, create, list: if request.auth.uid != null && get(/databases/$(database)/documents/storageLocations/$(locationId)).data.ownerId == request.auth.uid;
        }
    }
    
    // A user can only interact with inflows they own.
    match /inflows/{inflowId} {
        allow read, write: if request.auth.uid != null && resource.data.ownerId == request.auth.uid;
        allow create: if request.auth.uid != null && request.resource.data.ownerId == request.auth.uid;
        allow list: if request.auth.uid != null;
    }

    // A user can only interact with outflows they own.
    match /outflows/{outflowId} {
        allow read, write: if request.auth.uid != null && resource.data.ownerId == request.auth.uid;
        allow create: if request.auth.uid != null && request.resource.data.ownerId == request.auth.uid;
        allow list: if request.auth.uid != null;
    }
    
    // A user can only interact with payments they own.
    match /payments/{paymentId} {
        allow read, write: if request.auth.uid != null && resource.data.ownerId == request.auth.uid;
        allow create: if request.auth.uid != null && request.resource.data.ownerId == request.auth.uid;
        allow list: if request.auth.uid != null;
    }

    // A user can only interact with crop types they own.
    match /cropTypes/{cropTypeId} {
        allow read, write: if request.auth.uid != null && resource.data.ownerId == request.auth.uid;
        allow create: if request.auth.uid != null && request.resource.data.ownerId == request.auth.uid;
        allow list: if request.auth.uid != null;
    }

    // A user can only interact with customers they own.
    match /customers/{customerId} {
        allow read, write: if request.auth.uid != null && resource.data.ownerId == request.auth.uid;
        allow create: if request.auth.uid != null && request.resource.data.ownerId == request.auth.uid;
        allow list: if request.auth.uid != null;
    }
  }
}
